.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    line-height: inherit;
}


/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 20px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}


/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker::before {
    background: #A61526;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 1px;
    width: 5px;
    transition: 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
    content: "";
    width: 1px;
    background: #A61526;
    display: block;
    position: absolute;
    top: 10px;
    bottom: -40px;
    left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
    content: none;
}