    /* .backImg {
        --background: #fff url("background.png") no-repeat center center / cover;
        background-size: cover;
        --background-size: cover;
        --webkit-transform-style: preserve-3d;
        --webkit-backface-visibility: hidden;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    } */
    
    .backgroundBranco {
        --background: #fff;
    }
    
    .backgroundVermelho {
        --background: #A61526;
    }
    
    .md .download {
        background-color: white;
        -webkit-mask-image: url("icons/md-download.svg");
        mask-image: url("icons/md-download.svg");
    }
    
    .ios .download {
        background-color: white;
        -webkit-mask-image: url("icons/ios-download.svg");
        mask-image: url("icons/ios-download.svg");
    }
    
    .md .shareIcon {
        background-color: white;
        -webkit-mask-image: url("android-share.svg");
        mask-image: url("android-share.svg");
    }
    
    .ios .shareIcon {
        background-color: white;
        -webkit-mask-image: url("ios-share.svg");
        mask-image: url("ios-share.svg");
    }
    
    .md .pinIcon {
        background-color: white;
        -webkit-mask-image: url("icons/pin-md.svg");
        mask-image: url("icons/pin-md.svg");
    }
    
    .ios .pinIcon {
        background-color: white;
        -webkit-mask-image: url("icons/pin-ios.svg");
        mask-image: url("icons/pin-ios.svg");
    }
    
    .md .callIcon {
        background-color: white;
        -webkit-mask-image: url("icons/call-md.svg");
        mask-image: url("icons/call-md.svg");
    }
    
    .ios .callIcon {
        background-color: white;
        -webkit-mask-image: url("icons/call-ios.svg");
        mask-image: url("icons/call-ios.svg");
    }
    
    .md .mailIcon {
        background-color: white;
        -webkit-mask-image: url("icons/mail-md.svg");
        mask-image: url("icons/mail-md.svg");
    }
    
    .ios .mailIcon {
        background-color: white;
        -webkit-mask-image: url("icons/mail-ios.svg");
        mask-image: url("icons/mail-ios.svg");
    }
    
    .md .arrowFoward {
        background-color: white;
        -webkit-mask-image: url("icons/arrow-foward.svg");
        mask-image: url("icons/arrow-foward.svg");
    }
    
    .ios .arrowFoward {
        background-color: white;
        -webkit-mask-image: url("icons/arrow-foward.svg");
        mask-image: url("icons/arrow-foward.svg");
    }
    
    .md .arrowDown {
        background-color: white;
        -webkit-mask-image: url("icons/arrow-down.svg");
        mask-image: url("icons/arrow-down.svg");
    }
    
    .ios .arrowDown {
        background-color: white;
        -webkit-mask-image: url("icons/arrow-down.svg");
        mask-image: url("icons/arrow-down.svg");
    }
    
    .arrowBack {
        background-color: white;
        -webkit-mask-image: url("icons/arrow-back.svg");
        mask-image: url("icons/arrow-back.svg");
    }
    
    .txtBranco {
        color: white;
        --color: white;
    }
    /* .areaCategoria:hover .areaSubCategorias {
        display: block;
    }
    
    .areaCategoria .areaSubCategorias {
        display: none;
    }
    
    .areaCategoria:hover {
        background: #d8d8d8;
    }
    
    .areaCategoria {
        background: transparent;
    } */
    
    .ios .barraPesquisaTransparente {
        --cancel-button-color: white;
        --icon-color: white;
        color: white;
        --color: white;
    }
    
    .toolbarComTransparencia {
        --background: #A61526cc;
        --ion-color-base: #A61526cc !important;
        color: white;
    }
    
    .toolbarSemTransparencia {
        --background: #A61526;
        --ion-color-base: #A61526 !important;
        color: white;
    }
    
    .txtCentroCultural,
    .local_atividade {
        --width: 100%;
        color: #A61526;
        background: #FFEC00;
        text-align: center;
        margin-top: 0;
        padding: 2px 0;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        display: block;
    }
    
    .semBackground {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    
    .semBackgroundforce {
        --background: "transparent";
        color: white;
        --border-style: none;
    }
    
    .checkAmarelo {
        --background-checked: yellow;
        --background: transparent;
        --border-color: yellow;
        --border-color-checked: yellow;
        --border-radius: 50px;
        --checkmark-color: yellow;
    }
    
    .checkSub {
        --background-checked: transparent;
        --background: transparent;
        --border-color: #dddddd;
        --border-width: 1px;
        --border-color-checked: transparent;
        --border-radius: 50px;
        --checkmark-color: white;
        margin-left: 30px;
    }
    
    .semBackground ion-item {
        --border-color: rgba(0, 0, 0, 0);
        --background: rgba(0, 0, 0, 0);
    }
    
    .list-transparente {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    
    .list-transparente ion-item {
        --background: rgba(0, 0, 0, 0);
        --border-color: rgba(0, 0, 0, 0);
    }
    
    .pagLogin ion-grid {
        width: 100%;
        height: 100%;
    }
    
    .pagLogin ion-row {
        height: 100%;
    }
    
    .pagLogin ion-button {
        font-weight: 300;
    }
    
    .pagLogin .titulo h1 {
        margin-top: 5px;
        font-size: 32px;
        margin-bottom: 0px;
        font-stretch: expanded;
        letter-spacing: 3px;
    }
    
    .pagLogin .titulo h5 {
        margin-top: 5px;
    }
    
    .pagLogin .txtCinzaEscuro {
        color: #9B9B9B;
    }
    
    .pagLogin .txtCinzaClaro {
        color: #D8D8D8;
    }
    
    .pagLogin .txtBranco {
        color: white;
        --color: white;
    }
    
    .pagLogin .txtAmarelo {
        color: #FFEC00;
    }
    
    .pagLogin .btnLogin ion-button {
        --border-radius: 0;
        --background: #FFEC00;
        margin: 0;
        color: #A61526;
        font-weight: bold;
    }
    
    .btnAmarelo ion-button {
        --border-radius: 0;
        --background: #FFEC00;
        margin: 0;
        color: #A61526;
        font-weight: bold;
    }
    
    .pagLogin .loginForm .ion-margin {
        margin: 8px 16px;
    }
    
    .pagLogin .marginTop200px {
        margin-top: 60%;
    }
    
    .pagLogin .marginBottom60 {
        margin-bottom: 60%;
    }
    
    .pagLogin .marginBottom100px {
        margin-bottom: 15%;
    }
    
    .pagLogin .loginForm ion-item {
        --highlight-color-focused: red;
    }
    
    @media screen and (max-height: 700px) {
        .pagLogin .marginTop200px {
            margin-top: 30%;
        }
        .pagLogin .marginBottom60 {
            margin-bottom: 30%;
        }
    }
    
    .displayblock {
        display: block;
    }