.bckImg {
    --background: url("../theme/background.png") 0 0/100% 100% no-repeat;
    padding-left: 0px;
    background-size: cover;
    --background-size: cover;
    --webkit-transform-style: preserve-3d;
    --webkit-backface-visibility: hidden;
}

ion-item {
    background-color: transparent;
}

.yellow {
    color: "#555555";
}

.footer {
    height: 9%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
}

.textFooter {
    font-size: 0.7em;
}

.footerItems {
    vertical-align: text-top;
    padding: 0px;
    height: 100%;
    background-color: transparent;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.divFooter {
    background-color: #f80ba9;
    padding-left: 0px;
}

.content {
    background-color: #f80ba9;
}

.grid-bottom {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.grid {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col {
    flex: auto;
    height: 100%;
    padding-bottom: 3em;
    padding-inline-start: unset;
}

.subcategoriasLogo {
    display: flexbox;
    background-color: transparent;
    height: 1.5em;
}

.categoriasLogo {
    clear: both;
}

.boasvindas {
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}

.pessoa {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

.menus {
    display: inline-flex;
}

.buttonCentro {
    height: 100%;
    width: 100%;
    color: #E2000F;
    --background-focused: #E2000F;
}

.buttonCentro:focus {
    color: #E2000F;
}

.dataTopo {
    margin-top: 0;
}

.scroll-bar-indicator {
    display: none;
}

ion-grid {
    ion-row {
        ion-col {
            padding: 0;
        }
    }
}