.itemFora {
    background-color: #ffffff;
}

.row {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    margin: auto;
}

.hora {
    display: block;
    margin: auto;
    color: rgb(255, 255, 255);
    background: #9B9B9B;
    border-radius: 1em;
}

.desc {
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;    
}

.linha {
    height: 20px;
    background-color: #000000;
}

.img {
    width: 2em;
}